body {
  /* image for background */
  background-image: url('../../images/linen.png');
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  padding-top: 10px;
  vertical-align: middle;
}


textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: rgb(139, 180, 193);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
  margin-bottom: 5px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 2px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #e27b76;
  color: white;
}

.future {
  background-color: #91eb91;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #24a2be;
  color: white;
}

.saveBtn:hover {
  background-color: rgb(144, 238, 144);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* media query for screen size to be applied to center text to switch at same time as navbar */
@media (max-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .row-time-block {
    height: 100%;
    border-radius: 10;
    margin: 10px;
  }

  .saveBtn {
    border-radius: 0 0 15px 15px;
  }

  .data {
    border-radius: 15px 15px 0 0;
  }
}